@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
    color: #fff;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: #fff;
    background-image: url(imgs/bg.jpg);
    background-position: center;
    background-size: cover;
}


.intro{
    border-left: .6rem solid #13574b;
    padding: 2rem;
    margin-bottom: 50px;
    margin-top: 50px;
}


.customLetters{

    text-transform: uppercase;
    color: #13574b;

}

.intro-bg{
    background-color: #13574b;
    color: #fff;
    padding: 2rem;
}

.display{
    padding: 2rem;
    color: #17191A;
    border-bottom: .3rem solid #13574b;
}

.logobg{
    border-radius: 50%;
    margin-top: 35px;
    margin-bottom: 35px;
    border: 5px solid #13574b;
    width: 100%; 
    max-width: 400px; 
}

@media (max-width: 576px) {
    .logobg {
        width: 70%; 
        margin: 35px auto;
    }
}


.estBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    border: 1px solid #13574b;
    border-radius: 20px;
    background-color: #fff;
}

.estBox h1{
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.cusSelect{
    border-bottom: 1px solid;
    padding: 10px;
    border-top: none;
    border-left: none;
    color: #13574b;
    border-right: none;
}

.sliderStyles{
    color: #13574b;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.innerSlider{
    padding: 35px;
    cursor: pointer;
    background-color: #fff;
    height: 350px;
    color: #13574b;
}

.totalCalcPrice{
    text-align: right;
}

.btnCus{
    background-color: #13574b;
    color: #fff;
    text-align: center;
    border: 3px solid #13574b;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all ease-in-out .3s;
    text-decoration: none;
}

.btnCus:hover{
    background-color: #fff;
    color: #13574b;
    border: 3px solid #13574b;
    padding: 10px 15px;
    border-radius: 5px;
}

.cusHov{
    background-color: #fff;
    border: 3px solid #13574b;
    color: #13574b;
}

.cusHov:hover{
    background-color: #13574b;
    color: #fff;
    border: 3px solid #13574b;
    padding: 10px 15px;
    border-radius: 5px;
}

.arrowhovv{
    color: #13574b;
}

.cusHov:hover .arrowhovv{
    color: #fff;

}

.aScroll:hover .arrowhov{
    color: #13574b;

}

.inner-card-p{
    color: #13574b;
}

.estform{
    color: #13574b;
}
